*{
	font-family: 'Source Sans Pro',sans-serif;
}
.line{
	height: 30px;
	width: 3px;
	background-color: black;
}
.radius{
	border-radius: 50px;
}
.jumbotron{
	background-image: url('../img/bgjumbo.png');
	background-size: cover;
	color: rgba(0,0,0,0.5);
}
.bg-blacky{
	background-color: black;
}
.layanan{
	padding: 60px 0;
	box-sizing: border-box;
}
.img-lay{
	transition: 1s;
}
.img-lay:hover{
	transform: translateY(-20px);
}
.sizing{
	font-size: 55px;
}
.size{
	font-size: 18px;
}
.btn-black{
	border: 1px solid white;
	background-color: black;
	border-radius: 50px;
}
.btn-porto{
	background-color: white;
	color: black;
	border: 2px solid black;
	text-align: center;
	border-radius: 50px;
}
.round{
	border-radius: 30px;
}
.tlayanan{
	font-size: 14px;
}
.btn-outline-light{
	border-radius: 50px;
}
.tkeahlian{
	font-size: 12px;
	color: #979797;
}
.img-round{
	border-radius: 50%;
}
.textbesar{
	display: inline-block;
	height: 100px;
}
hr{
	margin-top: 150px;
	background-color: white;
}
.twhite{
	color: grey;
	transition: 1s;
}
.twhite:hover{
	color: black;
}
.nav-link{
	transition: .1s;
}
.nav-link:hover{
	border-bottom: 1px solid black;
	color: black;
}
.divider{
	width: 100%;
	height: 1px;
	background-color: black;
}
.full{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 80px;
}
.porto1,.porto2,.porto3,.porto4{
	transition: .3s;
}
.porto1:hover,.porto2:hover,.porto3:hover,.porto4:hover{
	opacity: 0.75;
	border: 5px solid black;
}
.body-login{
	background-color: black;
}
.login{
	background-color: #EEEEEE;
	margin: 50px;
	box-shadow: 0 0 4px 5px;
	border-radius: 10px;
	overflow: hidden;
}
.trans{
	background: rgba(37,14,14,0.34);
}
.img{
	background-image: url('../img/bg-login.png');
	height: 100%;
}
.input-login{
	width: 300px;
	margin: 0 auto;
}
.btn-masuk{
	padding : 5px 30px;
	border-radius: 30px;
	margin: 10px auto;
}
.tlogin{
	color: #8B8B8B;
	font-size: 14px;
}
.link-lupa{
	color: black;
	text-decoration: none;
	margin-bottom: 10px;
}
.btn-outline-dark,.btn-outline-light{
	font-size: 12px;
	font-weight: bold;
}
.link-footer{
	color: white;
}
/*.teks{
	margin: 0 auto;
}*/
